/* ---- PÁGINA GALERÍA ---- */

/* ---- PÁGINA CONTACTO - CARRUSEL ---- */

.carousel {
  min-height: 60vh;
}
.contenedor__item1,
.contenedor__item2,
.contenedor__item3 {
  height: 60vh;
}
@each $foto in item1, item2, item3 {
  .contenedor__#{$foto} {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
      url("../imagenes/#{$foto}.jpg");
  }
}
.carousel-indicators {
  display: none;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}
.carousel-caption {
  bottom: 15vh;
  h5 {
    font-size: 25px;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
  }
}
.contenedor-boton-carusel__boton {
  @include boton(none, 50px, var(--bg-button), var(--white-color), 600, 1em);
  padding: 10px 30px;
  &:hover {
    transform: scale(1.1);
  }
  display: none;
}

/* ---- PÁGINA GALERÍA - CORTOMETRAJES ---- */

.cortos {
  margin-top: 16vh;
  h2 {
    @include titulo(2.5rem, center, 700, var(--white-color));
  }
}
.contenedor__cortos {
  padding-bottom: 10vh;
  @include flex(flex, row, center, center, wrap);
  @each $fondo in caja1, caja2, caja3 {
    .cortos__#{$fondo} {
      background-image: url("../imagenes/cortos/#{$fondo}.png");
      height: 450px;
      width: 300px;
      margin: 10px;
      @include fondo(inherit, center center, no-repeat);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.85);
      border-radius: 10px;
      &:hover {
        transform: scale(1.1);
      }
      .cortos__contenido {
        @include flex(flex, column, center, center, no-wrap);
        height: 100%;
        padding: 13px;
        opacity: 0;
        border-radius: 10px;
        h2 {
          @include titulo(2em, center, 600, var(--white-color));
        }
        p {
          @include titulo(1.2em, center, 400, var(--white-color));
        }
        &:hover {
          opacity: 1;
          background-color: rgba(73, 68, 68, 0.8);
        }
      }
    }
  }
}

/* ---- PÁGINA GALERÍA - LARGOMETRAJES ---- */

.largos {
  h2 {
    @include titulo(2.5rem, center, 700, var(--white-color));
  }
  .contenedor__largos {
    padding-bottom: 10vh;
    @include flex(flex, row, center, center, wrap);
    @each $largos in item1, item2, item3 {
      .largos__#{$largos} {
        background-image: url("../imagenes/largos/#{$largos}.jpg");
        height: 450px;
        width: 300px;
        margin: 10px;
        @include fondo(cover, center center, no-repeat);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.85);
        border-radius: 10px;
        &:hover {
          transform: scale(1.1);
        }
        .largos__item__caja {
          @include flex(flex, column, center, center, no-wrap);
          height: 100%;
          padding: 13px;
          opacity: 0;
          border-radius: 10px;
          h2 {
            @include titulo(30px, center, 600, var(--white-color));
          }
          p {
            @include titulo(20px, center, 400, var(--white-color));
          }
          a {
            color: var(--white-color);
          }
          &:hover {
            opacity: 1;
            background-color: rgba(73, 68, 68, 0.8);
          }
        }
      }
    }
  }
}

/* ---- PÁGINA GALERÍA - FOTOGRAFÍAS ---- */

.fotos {
  h2 {
    @include titulo(2.5rem, center, 700, var(--white-color));
  }
}
@each $fondo in item1, item2, item3, item4, item5, item6, item7, item8, item9,
  item10
{
  .fotos__#{$fondo} {
    background-image: url("../imagenes/galeria-fotos/#{$fondo}.jpg");
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    border-radius: 10px;
  }
}
.fotos__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 35vh;
  grid-auto-flow: dense;
  gap: 10px;
  padding: 10px;
  margin-bottom: 5vh;
}

/* ---- PÁGINA GALERÍA - MEDIA QUERYS ---- */

@media screen and (min-width: 397px) and (max-width: 768px) {
  .carousel-indicators {
    display: none;
  }
  .contenedor__caja-texto {
    bottom: 15vh;
    h5 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
      font-weight: 600;
      padding-top: 10px;
    }
  }
  .cortos {
    .cortos__contenido {
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.6em;
      }
    }
  }
  .fotos__container {
    grid-auto-rows: 40vh;
  }
}
@media screen and (min-width: 769px) and (max-width: 869px) {
  .carousel,
  .contenedor__item1,
  .contenedor__item2,
  .contenedor__item3 {
    height: 93vh;
    margin-bottom: 15vh;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: initial;
  }
  .contenedor__caja-texto {
    bottom: 23vh;
    h5 {
      font-size: 60px;
    }
    p {
      font-size: 35px;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .contenedor-boton-carusel__boton {
      font-size: 1.5em;
      display: initial;
    }
  }
  .cortos {
    padding-bottom: 10vh;
    .cortos__contenido {
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.6em;
      }
    }
  }
  .largos {
    padding-bottom: 10vh;
    .largos__item {
      margin: 0 5vh;
    }
  }

  .fotos__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .fotos__item1 {
    grid-column: span 3;
  }
  .fotos__item4 {
    grid-column: span 2;
  }
  .fotos__item5 {
    grid-column: span 2;
  }
  .fotos__item6 {
    grid-row: span 2;
  }
  .fotos__item7 {
    grid-column: span 2;
  }
  .fotos__item9 {
    grid-column: span 3;
  }
}
@media screen and (min-width: 870px) and (max-width: 999px) {
  .carousel,
  .contenedor__item1,
  .contenedor__item2,
  .contenedor__item3 {
    height: 93vh;
    margin-bottom: 15vh;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: initial;
  }
  .contenedor__caja-texto {
    bottom: 26vh;
    h5 {
      font-size: 60px;
    }
    p {
      font-size: 35px;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .contenedor-boton-carusel__boton {
      font-size: 1.5em;
      display: initial;
    }
  }
  .cortos {
    padding-bottom: 5vh;
    .cortos__contenido {
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.6em;
      }
    }
  }
  .largos {
    padding-bottom: 5vh;
  }
  .fotos__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .fotos__item1 {
    grid-column: span 3;
  }
  .fotos__item4 {
    grid-column: span 2;
  }
  .fotos__item5 {
    grid-column: span 2;
  }
  .fotos__item6 {
    grid-row: span 2;
  }
  .fotos__item7 {
    grid-column: span 2;
  }
  .fotos__item9 {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1299px) {
  .carousel,
  .contenedor__item1,
  .contenedor__item2,
  .contenedor__item3 {
    height: 93vh;
    margin-bottom: 15vh;
  }
  .contenedor__caja-texto {
    bottom: 28vh;
    h5 {
      font-size: 60px;
    }
    p {
      font-size: 35px;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .contenedor-boton-carusel__boton {
      font-size: 1.5em;
      display: initial;
    }
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: initial;
  }
  .cortos,
  .largos {
    padding-bottom: 5vh;
  }
  .fotos__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .fotos__item1 {
    grid-column: span 3;
  }
  .fotos__item4 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .fotos__item5 {
    grid-column: span 2;
  }
  .fotos__item6 {
    grid-row: span 2;
  }
  .fotos__item7 {
    grid-column: span 2;
  }
  .fotos__item9 {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1300px) {
  .carousel,
  .contenedor__item1,
  .contenedor__item2,
  .contenedor__item3 {
    height: 93vh;
    margin-bottom: 15vh;
  }
  .contenedor__caja-texto {
    bottom: 33vh;
    h5 {
      font-size: 60px;
    }
    p {
      font-size: 35px;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .contenedor-boton-carusel__boton {
      font-size: 1.5em;
      display: initial;
    }
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: initial;
  }
  .cortos,
  .largos {
    padding-bottom: 11vh;
  }
  .fotos__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .fotos__item1 {
    grid-column: span 3;
  }
  .fotos__item4 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .fotos__item5 {
    grid-column: span 2;
  }
  .fotos__item6 {
    grid-row: span 2;
  }
  .fotos__item7 {
    grid-column: span 2;
  }
  .fotos__item9 {
    grid-column: span 3;
  }
}
