/* ---- PÁGINA VARIABLES BOOTSTRAP ADAPTADAS ---- */

/* ---- NAVBAR ---- */

$navbar-brand-font-size: 2rem;
$navbar-light-brand-color: var(--white-color);
$navbar-light-brand-hover-color: var(--white-color);
$navbar-light-color: var(--white-color);
$navbar-light-hover-color: var(--white-color);
$navbar-light-color: #ccc;

/* ---- CAROUSEL ---- */

$carousel-control-icon-width: 2.5rem;
